body {font-family:Verdana,Arial,Helvetica}
a.hmenu {text-decoration:none; color:white; font-weight:bold}
a.vmenu {text-decoration:none; color:DodgerBlue; font-weight:bold}
p.tab { text-indent : 25px; }
